*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

private/
build/
dist/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Props/props/nbproject/private/
/Props/props/build/
/Props/props/dist/
/Lambdas/Persons/nbproject/private/
/Lambdas/Persons/build/
/Lambdas/Aproche1/nbproject/private/
/Lambdas/Aproche1/build/
/Lambdas/Aproche2/nbproject/private/
/Lambdas/Aproche3_ClasseInterfacecTest/nbproject/private/
/Lambdas/Aproche2/build/
/Lambdas/Aproche3_ClasseInterfacecTest/build/
/Lambdas/Aproche4_AnonInterfacece/nbproject/private/
/Lambdas/Persons/dist/
/Lambdas/Aproche3_ClasseInterfacecTest/dist/
/Lambdas/Aproche4_AnonInterfacece/build/
/Lambdas/Aproche5_LambdaExp/nbproject/private/
/Lambdas/Aproche5_LambdaExp/build/
/Lambdas/Aproche6_LambdaExp_Predicat/nbproject/private/
/Lambdas/Aproche7_LambdaExp_Predicat_Cosumer/nbproject/private/
/Lambdas/Aproche8_LambdaExp_Predicat_Cosumer_Functions/nbproject/private/
/Lambdas/Aproche8_LambdaExp_Predicat_Cosumer_Functions/build/
/Lambdas/Aproche6_LambdaExp_Predicat_/nbproject/private/
/Lambdas/Aproche7_LambdaExp_Predicat_Consumer/nbproject/private/
/Lambdas/Aproche9_AllGeneric/nbproject/private/
/Lambdas/Aproche10_GlobalOparations/nbproject/private/
/Lambdas/Aproche01/nbproject/private/
/Lambdas/Aproche02/nbproject/private/
/Lambdas/Aproche03_ClasseInterfacecTest/nbproject/private/
/Lambdas/Aproche04_AnonInterfacece/nbproject/private/
/Lambdas/Aproche05_LambdaExp/nbproject/private/
/Lambdas/Aproche06_LambdaExp_Predicat_/nbproject/private/
/Lambdas/Aproche07_LambdaExp_Predicat_Consumer/nbproject/private/
/Lambdas/Aproche08_LambdaExp_Predicat_Cosumer_Functions/nbproject/private/
/Lambdas/Aproche9_AllGeneric/build/
/Lambdas/Aproche10_GlobalOparations/build/
/Lambdas/Aproche01/build/
/Lambdas/Aproche02/build/
/Lambdas/Aproche03_ClasseInterfacecTest/build/
/Lambdas/Aproche04_AnonInterfacece/build/
/Lambdas/Aproche07_LambdaExp_Predicat_Consumer/build/
/Lambdas/Aproche08_LambdaExp_Predicat_Cosumer_Functions/build/
/PipeStream/pipeEtStream/build/
/PipeStream/pipeEtStream/nbproject/private/
/PipeStream/pipeEtStream/dist/
/Persons/nbproject/private/
/Persons/build/
/PipeStream/Parallel/nbproject/private/
/PipeStream/Parallel/build/
/testWS/nbproject/private/
/testWS/build/
/testWS/dist/
/clientWS/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/testREST/nbproject/private/
/testREST/build/
/ACCOV/ExempleEtFormat/nbproject/private/
/ACCOV/ExempleEtFormat/build/
/ACCOV/runls/nbproject/private/
/ACCOV/runls/build/
/ACCOV/HelloWorld/nbproject/private/
/ACCOV/HelloWorld/build/
/ACCOV/HelloWorld/dist/
/ACCOV/runAny/nbproject/private/
/ACCOV/runAny/build/
/ACCOV/runAny/dist/
/ACCOV/Synchronize/nbproject/private/
/ACCOV/Synchronize/build/
/ACCOV/Synchronize/dist/
/ACCOV/cubyHole/nbproject/private/
/ACCOV/cubyHole/build/
/ACCOV/runls/dist/
/ACCOV/ExempleEtFormat/dist/
/Lambdas/Aproche05_LambdaExp/build/
/ACCOV/SynchroAvancee/DeadLock/nbproject/private/
/ACCOV/SynchroAvancee/DeadLock/build/
/ACCOV/SynchroAvancee/DeadLock/dist/
/ACCOV/SynchroAvancee/SafeLock/dist/
/ACCOV/SynchroAvancee/SafeLock/build/
/ACCOV/SynchroAvancee/PhilosopheSync/dist/
/ACCOV/SynchroAvancee/PhilosopheSync/build/
/ACCOV/NecessiteSynchro/build/
/ACCOV/NecessiteSynchro/dist/
/ACCOV/SynchroAvancee/ProdConsParLock/build/
/ACCOV/SynchroAvancee/ProdConsParLock/dist/
/SHAEncoding/shaStringEncode/build/
/SHAEncoding/shaStringEncode/dist/
/J2EE-C1/jsp/premierJSP/build/
/Executor/E01/build/
/Executor/E02/build/
/Executor/E02/dist/
/ACCOV/SynchroAvancee/04.1_ProdConsParLock/dist/
/ACCOV/SynchroAvancee/04.1_ProdConsParLock/build/
/Executor/E01/dist/
/ForkJoin/Max/build/
/ForkJoin/Max/dist/
/ForkJoin/ForkJoinSort/build/
/J2EE-C1/jsp/premierJSP/dist/
/J2EE-C1/c1Janvier/build/
/J2EE-C1/c1Janvier/dist/
/ACCOV/NewFolder/PM/build/
/ACCOV/NewFolder/PM/dist/
/ACCOV/NewFolder/TPs03_PCaSem/dist/
/ACCOV/NewFolder/TPs03_PCaSem/build/
/ACCOV/TPJanvier2017/PoolRunnable/build/
/ACCOV/TPJanvier2017/PoolRunnable/dist/
/ACCOV/TPJanvier2017/PCaSem/dist/
/ACCOV/TPJanvier2017/PCaSem/build/
/ACCOV/NewFolder/PremierBean/dist/
/ACCOV/NewFolder/PremierBean/build/
/J2EE-C1/jsfhello/build/
/J2EE-C1/jsfhello/dist/
/J2EE-C1/jsfPrem/dist/
/J2EE-C1/jsfPrem/build/
/J2EE-C1/testRest/build/
/J2EE-C1/testRest/dist/
/J2EE-C1/loginAndSec/build/
/J2EE-C1/loginAndSec/dist/
/J2EE-C1/WebApplication1/build/
/Lambdas/CampDeCode/InterfaceFonction/lambdaInterfacefonction/build/
/JavaTools/MavenSimple/app1/target/
/JavaTools/pluginsConfig/app1/target/
/Autre/projetWeb/target/
/Autre/CycleC-Maven/nbproject/
/Autre/CycleC-Maven/target/
/J2EE-C1/JSPetServlets/collab/target/
/J2EE-C1/JSPetServlets/net.cofares_guessnumber/target/
/J2EE-C1/JSFDebutant/helloworld_TestViewParam/target/
/J2EE-C1/JSFDebutant/Ajax/net.cofares_jsf2.0_ajax-tag-SecondEcho/target/
/Autre/testRest/target/
/J2EE-C1/Rest/jaxrs_clients_crud/target/
/J2EE-C1/JPA/jpa_basics_pojo_datatypes_mysql/target/
/J2EE-C1/TP/restTest/target/
/J2EE-C1/JPA/01_OneToOne_UniDirectional_NoAnnotation_NoCascade_jar_1.0-SNAPSHOT/target/
/J2EE-C1/TP/JPAUtil/target/